@use "styles/base" as *;
@use "styles/components" as *;

.main-content {
  width: 100%;
  max-width: $breakpoint-mobile;
  margin: 0 auto;
  padding: 48px 6px;

  @media (width >= $breakpoint-desktop) {
    max-width: $breakpoint-desktop;
    padding: 68px 40px 90px 40px;
  }
}
