$color-text-base: #181A1B;
$color-text-title: #000000;
$color-text-secondary: #777d82;
$color-text-action: #aeb3b8;
$color-text-accent: #0082FF;
$color-card-background: #f7f9fb;
$color-card-secondary-background: rgba(0, 0, 0, 0.75);
$color-status-active: #67c977;
$color-border: #dbdbdb;
$color-border-modal:  #e7edf3;
$color-background: #ffffff;
$box-shadow-card: 0 0 13px 0 rgba(0, 0, 0, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.15);
$box-shadow-modal: 0 10px 20px 0 rgba(24, 26, 27, 0.4);
$box-shadow-modal: 0 10px 20px 0 rgba(24, 26, 27, 0.4);
$box-shadow-modal-close: 0 2px 4px 0 rgba(198, 198, 198, 0.6);
$color-rating: #a2b4cb;
$color-rating-hovered: color-mix(in srgb, #a2b4cb, rgba(0, 130, 255, 0.6));
$color-rating-selected: color-mix(in srgb, #a2b4cb, #0082ff);
$color-error: #f51958;
