$font-open-sans: "Open Sans", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$fs-13: 13px;
$fs-15: 15px;
$fs-16: 16px;
$fs-19: 19px;
$fs-20: 20px;
$fs-22: 22px;
$fs-23: 23px;

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1280px;

@font-face {
  font-family: $font-open-sans;
  font-size: $fs-15;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
