$color-text-base: #181A1B;
$color-text-title: #000000;
$color-text-secondary: #777d82;
$color-text-accent: #0082FF;
$color-card-background: #f7f9fb;
$color-status-active: #67c977;
$color-border: #dbdbdb;
